.section1 {
    width: 100%;
    min-height: 820px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/images/background-img/background-section1.png);
    background-size: cover;
    background-repeat: no-repeat;
    flex-direction: column;
    position: relative;
}

.heading {
    max-width: 375px;
    width: 100%;
    min-height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 3%;

    h1 {
        font-family: 'Josefin Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 26px;
        letter-spacing: 4.8px;
        text-transform: uppercase;
        color: #FFFFFF;
    }

    p {
        font-family: 'Josefin Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 26px;
        letter-spacing: 6.82px;
        color: #FFFFFF;
    }
}

.searchbox-section1 {
    max-width: 655px;
    width: 100%;
    min-height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;

    .searchbox {
        width: 500px;
        height: 65px;

        font-family: 'Josefin Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 26px;
        letter-spacing: 2.8px;
        text-align: center;
        color: #999999;
    }

    .search-btn-section1 {
        width: 155px;
        height: 65px;

        background: #5474FD;
        border: 2px solid #FFFFFF;
        border-left: none;
    }

    p {
        font-family: 'Aleo';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 26px;
        text-align: center;
        letter-spacing: 1.4px;
        text-transform: uppercase;
        color: #FFFFFF;
    }

    .fa-magnifying-glass {
        font-size: 14px;
        color: #FFFFFF;
        padding-left: 5px;
    }
}

.search-btn-section1:hover {
    background-color: #2140c8;
    text-shadow: 0px 0px 3px #2140c8;
    box-shadow: inset 0px 0px 10px white;
    transition: 0.5s ease;
}

.scrolldwn-container {
    max-width: 110px;
    width: 100%;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    h2 {
        font-family: 'Josefin Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 26px;
        letter-spacing: 2.8px;
        color: #FFFFFF;
    }

    .fa-chevron-down {
        font-size: 14px;
        color: #FFFFFF;
    }
}

.scrolldwn-container:hover {

    h2 {
        font-family: 'Josefin Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 26px;
        letter-spacing: 2.8px; 
        text-shadow: 0px 0px 1px white;    
        transition: 0.5s ease;
        color: #2140c8;
    }

    .fa-chevron-down {
        font-size: 14px;
        text-shadow: 0px 0px 1px white;    
        transition: 0.5s ease;
        color: #2140c8;
    }
}