.section2 {
    width: 100%;
    min-height: 685px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/images/background-img/background-section2.png);
    background-size: cover;
    background-repeat: no-repeat;
}